<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Carta</servlet-name>
        <servlet-class>cat.xtec.ioc.dawm07eac2restaurant.Carta</servlet-class>
        <init-param>
            <param-name>amanida</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>beer</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>coffee</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>coke</param-name>
            <param-value>4</param-value>
        </init-param>
        <init-param>
            <param-name>gofre</param-name>
            <param-value>5</param-value>
        </init-param>
        <init-param>
            <param-name>hamburger</param-name>
            <param-value>15</param-value>
        </init-param>
        <init-param>
            <param-name>pizza</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <param-name>quiche</param-name>
            <param-value>15</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Carta</servlet-name>
        <url-pattern>/Carta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carta</servlet-name>
        <url-pattern>/Article</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
